[Desktop Entry]
Name=Git
Comment=Do git add git commit and git push
Exec=/Change/this/path
Icon=/Change/this/path
X-GNOME-UsesNotifications=false
Type=Application
Terminal=true

